.blog{
  &-title{
    &-text{
      position: relative;
      box-sizing: border-box;
      font-family: Poppins, sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 20px;
      color: #d58e32;
      padding-bottom: 13px;
    }
    &-silver-line{
      height: 3px;
      background-color: #e2e2e2;
      margin-bottom: 10px;
    }
    &-orange-line{
      height: 3px;
      width: 44px;
      bottom: 0;
      position: absolute;
      background-color: #d58e32;
      margin-bottom: 10px;
    }
  }
  &-body{
    &__title {
      font-size: 16px;
      font-weight: 600;
    }
    &__text{
      margin-bottom: 30px;
      font-size: 14px;
      font-weight: 400;
    }
    &__btn {
      font-family: Poppins, sans-serif;
      text-align: center;
      background-color: #2a2a2a;
      font-size: 16px;
      line-height: 45px;
      color: #fff;
      width: 165px;
      height: 45px;
      cursor: pointer;
    }
  }
  & #blog-carousel{
    & .carousel-indicators{
      margin-bottom: 10px;
      & li{
        text-indent: 0;
        width: 13px;
        height: 13px;
        border: none;
        border-radius: 100%;
        line-height: 13px;
        color: #fff;
        background-color: #999;
        -webkit-transition: 0.25s;
        transition: 0.25s;
        &.active{
          width: 13px;
          height: 13px;
          background-color: #d58e32;
        }
        &:hover{
          width: 13px;
          height: 13px;
          background-color: #d58e32;
        }
      }
    }
  }
  & .carousel-controls{
    & .carousel-control{
      background: #fff;
      height: 30px;
      line-height: 30px;
      &-next-icon i{
        &:hover{
          background-color: #d58e32;
          color:white;
        }
        box-sizing: border-box;
        margin-top: 12px;
        padding: 5px;
        color: #2a2a2a;
        border: 1px solid #2a2a2a;
      }
      &-prev-icon i{
        &:hover{
          background-color: #d58e32;
          color:white;
        }
        box-sizing: border-box;
        margin-top: 12px;
        padding: 5px;
        color: #2a2a2a;
        border: 1px solid #2a2a2a;
      }
    }
  }
  & .card{
    max-width: 360px;
    border: none;
    &:hover{
      & .blog-body__title {
        color: #d58e32;
      }
      & .blog-body__btn{
        background-color: #d58e32;
      }
    }
    &__img {
      height: 290px;
    }
  }
}
.blog-info {
  font-size: 13px;
  font-weight: 600;
  background-color: #fff;
  height: 60px;
  width: 300px;
  margin: -60px auto 0;
  &__calendar {
    line-height: 60px;
  }
  &__calendar i {
    margin-right: 5px;
  }
  &__comments {
    line-height: 60px;
  }
  &__comments i {
    margin-right: 5px;
  }
}