.form-check{
  padding: 0;
  &-red{
    &:hover{
      .custom-control-label{
        color: #d58e32;
      }
    }
    .custom-control-label:before{
      background-color:red;
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before{
      background-color: red;
    }
    .custom-control-label{
      vertical-align: middle;
      font-size: 13px;
    }
  }
  &-black{
    &:hover{
      .custom-control-label{
        color: #d58e32;
      }
    }
    .custom-control-label:before{
      background-color:black;
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before{
      background-color: black;
    }
    .custom-control-label{
      vertical-align: middle;
      font-size: 13px;
    }
  }
  &-yellow{
    &:hover{
      .custom-control-label{
        color: #d58e32;
      }
    }
    .custom-control-label:before{
      background-color:yellow;
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before{
      background-color: yellow;
    }
    .custom-control-label{
      vertical-align: middle;
      font-size: 13px;
    }
  }
  &-blue{
    &:hover{
      .custom-control-label{
        color: #d58e32;
      }
    }
    .custom-control-label:before{
      background-color:blue;
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before{
      background-color: blue;
    }
    .custom-control-label{
      vertical-align: middle;
      font-size: 13px;
    }
  }
  &-pink{
    &:hover{
      .custom-control-label{
        color: #d58e32;
      }
    }
    .custom-control-label:before{
      background-color:pink;
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before{
      background-color: pink;
    }
    .custom-control-label{
      vertical-align: middle;
      font-size: 13px;
    }
  }
  &-green{
    &:hover{
      .custom-control-label{
        color: #d58e32;
      }
    }
    .custom-control-label:before{
      background-color:green;
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before{
      background-color: green;
    }
    .custom-control-label{
      vertical-align: middle;
      font-size: 13px;
    }
  }
}

.filter-categories{
  padding: 0;
  list-style-type: none;
  & .categories-item {
    &:hover{
      .wrapper{
        color: #d58e32;
      }
    }
    &:hover{
      .size-item__counter{
        background-color: #d58e32;
      }
    }
    /*&:hover{
      .item-link__counter{
        background-color: #d58e32;
      }
    }*/
    font-size: 13px;
    color: #2a2a2a;
    & .size-item__counter{
      transition: 0.4s;
      width: 24px;
      height: 24px;
      color: #fff;
      line-height: 24px;
      text-align: center;
      border-radius: 24px;
      background-color: #2a2a2a;
    }
  }
}
.filter-block-tags{
  &-item{
    padding: 10px;
    margin: 3px;
    font-size: 14px;
    color: #959595;
    border: 2px solid #959595;
    display: inline-block;
    &:hover{
      border: 2px solid #d58e32;
      color: #d58e32;
    }
    & i{
      margin-right: 3px;
    }
  }
}
.line-divider{
  border-bottom: 1px solid black;
}