.heading-wrapper {
  margin-bottom: 30px;
}

.furniture-gallery-heading {
  text-transform: uppercase;
  font-size: 20px;
  color: $primary;
}

.heading-line {
  width: 100%;
  height: 3px;
  background-color: #e2e2e2;

  .heading-line-colored {
    width: 44px;
    height: 3px;
    background-color: $primary;
  }
}

.slider-nav .item {
  width: 50px;
  height: 50px;
  margin-right: 30px;
  overflow: hidden;
}

.image-wrapper {
  background-color: #f4f5f7;
  width: 100%;
  height: 450px;
  border-left: 1px solid #f3f3f3;
  border-right: 1px solid #f3f3f3;
}
