//_______________________________________________
.header-size {
  height: 145px;
}

.bg-secondary-color {
  background-color: $secondary;
}

.fa-mobile-alt {
  color: $primary;
}

a[href^="tel"] {
  font-size: 17px;
  font-weight: 600;
  color: #d8d8d8;
  text-decoration: none;
}

.header-cart {
  width: 45px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .circle-position {
    width: 55%;
    height: 55%;
    position: absolute;
    right: -40%;
    display: flex;
  }
}

.header-cart-fill {
  background-color: $primary;
  margin-right: 3.8%;
  margin-top: 2%;
}

@media (min-width: 768px) {
  .header-cart {
    width: 51px;
    height: 49px;
  }
}

.modal-title.modal-emptyCart-title{
  color: #939393;
  font-size: 48px;
  font-weight: 600;
}

.modal-title.modal-emptyCart-title+p {
  color: #939393;
  font-size: 30px;
  font-weight: 300;
}

@media (max-width: 576px) {
  .fa-mobile-alt {
    display: none;
  }
  a[href^="tel"] {
    margin-left: 20px;
  }
}