.nav-style{
  font-size: 13px;
  font-weight: 600;
}

a[href^="#"] {
  text-decoration: none;
}

.link-bottom-border {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}

.link-bottom-border:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #ECF0F1;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.link-bottom-border:hover:before {
  left: 0;
  right: 0;
}

.text-modal {
  &-header {
    font-size: 30px;
    color: #2a2a2a;
  }
  &-body {
    font-size: 14px;
    color: #676767;
  }
}

.modal-border-radius {
  border-radius: 0;
}

.close-Button {
  font-size: 30px;
  color: #ffffff;
  opacity: 1;
}

button.close-Button {
  background-color: $secondary;
}

.modal-header .close-Button {
  padding: 0.1rem 0.5rem 0.4rem 0.5rem ;
}

button.close-Button:hover {
  background-color: $primary;
  color: $secondary;
}

.close-Button:not(:disabled):not(.disabled):hover {
  opacity: 1;
}

@media (max-width: 576px) {
  .modal-size {
    max-width: 80%;
    margin: 0 auto;
  }
}