.newsletter{
  background-color: #f2f2f2;
  color: #d58e32;
  &__icon {
    color: #d58e32;
  }
  &__placeholder {
    &::placeholder {
      color: #b4b4b4;
    }
    &:focus {
      outline: none;
      border-color: #ced4da;
      box-shadow: none;
    }
  }
  &__btn {
    color: #d58e32;
  }
}