.our-features-mb50px{
  margin-bottom: 50px;
}

.features-card-box {
  width: 263px;
  height: 121px;
  border: 1px solid #B7B7B7;
  position: relative;
  margin-top: 50px;

  &:hover .text-position{
    color: $primary;
  }

  &:hover .features-circle-icon {
    border-color: $primary;
  }
}

.features-card-box:hover i {
  border-color: $primary;
  background-color: $primary;
  color: #ffffff;
}

.features-circle-icon {
  width: 76px;
  height: 76px;
  border: 1px solid #B7B7B7;
  background-color: #ffffff;
  position: absolute;
  top: -40px;

  .features-icon-style {
    width: 62px;
    height: 62px;
    border: 1px solid #B7B7B7;
  }
}

.text-position {
  padding-top: 36px;
}

.text-f-weight600 {
  font-weight: 600;
}

.text-f-weight300 {
  font-weight: 300;
}

.text-f-size {
  font-size: 20px;
}

@media (min-width: 556px) and (max-width: 575px){
  .our-features-mb50px{
    max-width: 70%;
  }
}

@media (min-width: 768px){
  .our-features-mb50px{
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 1050px){
  .our-features-mb50px{
    max-width: 70%;
  }
}

@media (min-width: 1050px) and (max-width: 1199px){
  .our-features-mb50px{
    max-width: 60%;
  }
}

//////////////////////////////////////////////////////