.products{
  font-family: 'Poppins', sans-serif;
  & .furniture{
    color: #2a2a2a;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid black;
  }
  & .card{
    display: flex;
    flex-direction: column;
    border: none;
    &:hover{
      .card-hover{
        opacity: 1;
      }
      .card-heading{
        color: #d58e32;
      }
      .block-price{
        background-color: #d58e32;
      }
    }
    &-img-container{
      /*width: 262px;*/
      height: 260px;


      position: relative;
      background-color: #f4f5f7;
      text-align: center;
      &-item{
        max-height: 260px;
        /*max-width: 262px;
        object-fit: cover;*/
        max-width: 100%;
        height: auto;
      }
    }
    &-hover{
      opacity: 0;
      &-sale{
        position: absolute;
        top: 0;
        margin-right: auto;
        margin-left: auto;
        left: 0;
        right: 0;
        text-decoration: none;
        & span{
          padding: 0 9px 7px 9px;
          border-bottom-right-radius: 30px;
          border-bottom-left-radius: 30px;
          background-color: #2a2a2a;
          color: #fff;
          font-size: 12px;
          font-weight: 500;
        }
      }
      &-bottom{
        position: absolute;
        width: calc(100% - 20px);
        bottom: 0;
        display: flex;
        justify-content: space-between;
        margin-right: 10px;
        margin-left: 10px;
        &-view{
          width: 87px;
          height: 37px;
          background-color: #2a2a2a;
          color: #fff;
          font-size: 13px;
          font-weight: 500;
          line-height: 15px;
          text-align: center;
        }
        &-add {
          width: 132px;
          height: 37px;
          background-color: #2a2a2a;
          color: #fff;
          font-size: 13px;
          font-weight: 400;
          text-transform: uppercase;
          line-height: 15px;
          text-align: center;
          & i {
            margin-right: 5px;
          }
        }
      }
    }
    &-about{
      padding: 16px 11px 12px 11px;
      border-left: 1px solid #e2e2e2;
      border-bottom: 1px solid #e2e2e2;
      border-right: 1px solid #e2e2e2;
    }
    &-heading, &-text{
      text-align: center;
    }
    &-line{
      border-bottom: 1px solid #2a2a2a;
      margin-bottom: 20px;
    }
    &-subline{
      background-color: #d58e32;
      margin-bottom: -2px;
      height: 4px;
      width: 30px;
    }
    & .block-like, & .block-arrow{
      height: 37px;
      width: 37px;
      border: 1px solid #000;
      text-align: center;
      margin-right: 5px;
      & i{
        line-height: 37px;
        color: #2a2a2a;
      }
    }
    & .block-old-price{
      text-align: center;
      line-height: 37px;
      color: #a5a5a5;
      font-size: 16px;
      font-weight: 300;
      text-decoration: line-through;
      margin-right: 7px;
    }
    & .block-price{
      width: 78px;
      height: 37px;
      background-color: #2a2a2a;
      color: #fff;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      line-height: 37px;
    }
  }
}
.filter-block{
  &-title{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    /*line-height: 0.18;*/
    color: #2a2a2a;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
  }
  &-categories-list{
    padding: 0;
    list-style-type: none;
    & .categories-item{
      margin-bottom: 20px;
      font-size: 13px;
      font-weight: 400;
      & .item-link__text{
        color: #2a2a2a;
        & i{
          margin-right: 5px;
        }
      }
      & .item-link{
        &:hover{
          .item-link__text{
            color: #d58e32;
          }
        }
        &:hover{
          .item-link__counter{
            background-color: #d58e32;
          }
        }
        &__counter{
          transition: 0.4s;
          width: 24px;
          height: 24px;
          color: #fff;
          line-height: 24px;
          text-align: center;
          border-radius: 24px;
          background-color: #2a2a2a;
        }
      }
    }
  }
  &.form-check-label:before{
    background-color: red;
  }
}

.card-modal{
  & .card-img-top{
    background-color: #f4f5f7;
  }
  &-name-title{
    font-size: 22px;
    font-weight: 400;
  }
  &-price{
    display: block;
    width: 104px;
    height: 36px;
    background-color: #2a2a2a;
    color: #fff;
    text-align: center;
    line-height: 36px;
  }
  &-add-to-cart{
    display: inline-block;
    width: 134px;
    height: 37px;
    background-color: #d58e32;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    /*line-height: 37px*/;
    border-radius: unset;
    margin-right: 7px;
    & i{
      margin-right: 9px;
    }
  }
  &-add-block-like{
    display: inline-block;
    /*box-sizing: content-box;*/
    height: 36px;
    width: 37px;
    border: 1px solid #000;
    text-align: center;
    & i{
      line-height: 33px;
      color: #2a2a2a;
    }
  }
  &-overview{
    &-title{
      font-size: 15px;
      font-weight: 400;
      color: #2a2a2a;
    }
    &-text{
      color: #676767;
      font-size: 14px;
      font-weight: 400;
      line-height: 25px;
    }
  }
  &-category{
    &-availability, &-text{
      color: #2a2a2a;
      font-size: 14px;
      font-weight: 500;
      /*line-height: 30px;*/
      & span{
        color: #676767;
        font-size: 13px;
        font-weight: 400;
        /*line-height: 30px;*/
      }
    }
  }
  &-share-item{
    display: inline;
    font-size: 13px;
    color: #888;
    padding: 12px;
    border: 1px solid #2a2a2a;
    margin: 10px 6px;
    & i{
      margin-right: 7px;
      &.fa-facebook-f{
        color: #3b5998;
      }
      &.fa-google-plus-g{
        color: #d62d20;
      }
      &.fa-twitter{
        color: #4099ff;
      }
      &.fa-pinterest-p{
        color: #c92228;
      }
      &.fa-linkedin-in{
        color: #0077b5;
      }
    }
  }
}
