//search form
.form-border-radius {
  border-radius: 0;
}

.menu-form-inline {
  position: relative;
}

.btn-search {
  position: absolute;
  right: 2%;
}

.menu-form-inline .form-border-radius {
  width: 220px;
  border: 1px solid #B7B7B7;
}

@media (min-width: 576px) {
  .menu-form-inline .form-border-radius {
    width: 320px;
  }
  .menu-form-inline {
    padding-left: 10px;
  }
}

@media (min-width: 992px) {
  .link-style {
    padding: 30px 8px;
    border-top: 3px solid transparent;
    color: #2a2a2a;
    font-size: 12px;
    font-weight: 600;
  }

  .link-style:hover, .link-style:focus {
    color: #ffffff;
    background-color: $primary;
    border-top: 3px solid #2a2a2a;
  }

  .menu-form-inline {
    padding-left: 0;
  }
}

.shadow {
  z-index: 1;
}

.z-index {
  z-index: 0;
  position: relative;
}

@media (max-width: 576px) {
  .mt-2, .my-2 {
    margin-top: 0 !important;
  }
  .mb-2, .my-2 {
    margin-bottom: 0 !important;
  }
  .margin-sm {
    margin: 3rem 0;
  }
}

@media (max-width: 991px) {
  .own-navbar-collapse {
    background-color: $secondary;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  .link-style {
    padding: 10px 15px 10px 45px !important;
    text-align: right;
    color: #B7B7B7 !important;
    font-size: 11px;
    position: relative;
  }
  .link-style:focus, .link-style:hover {
    color: #ffffff !important;
    background-color: transparent;
    border-top: 3px solid transparent;
  }
  .link-style:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #ECF0F1;
    height: 1px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .link-style:hover:before {
    left: 30px;
    right: 10px;
  }
  .own-navbar-nav {
    margin-right: 0;
    padding-top: 60px;
    padding-bottom: 10px;
  }
}

.own-toggle {
  border: none;
}

.own-toggle:focus {
  outline: none;
}
