.top-slider-caption {
  h2 {
    font-weight: 300;
  }
  p {
    font-weight: 300;
  }
}

.slider-black-mask {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 25%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

@media (min-width: 768px) {

  .top-slider-caption {
    top: 36%;
    bottom: 0;
  }
}

.prev-customized, .next-customized {
  height: 7.5%;
  width: 50%;
  background-color: $secondary;
  opacity: 1;
  transition: none;
  top:92.5%
}

.prev-customized:hover, .prev-customized:focus, .next-customized:hover, .next-customized:focus {
  opacity: 1;
  background-color: $primary;
}
@media (max-width: 768px) {
  .prev-icon-customized, .next-icon-customized {
    width: 66%;
    height: 66%;
  }
}

.slider-button-style {
  position: absolute;
  top: 70%;
  left: 43%;
  width: 14%;
  height: 9%;
  border-radius: 5px;
  border: none;
  color: #2a2a2a;
  z-index: 1;
  background-color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .slider-button-style {
    top: 74%;
    left: 42%;
    width: 90px;
    height: 25px;
    font-size: 10px;
}
}

@media (max-width: 576px) {
  .slider-button-style {
    top: 74%;
    left: 43%;
    width: 75px;
    height: 22px;
    font-size: 10px;
  }

  .slider-black-mask {
    width: 94%;
    height: 75%;
    top: 10%;
    left: 3%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .margin-measures {
    margin: 0 0.3rem;
  }
}

