/*@import 'reset';*/
@import '../../node_modules/bootstrap/dist/css/bootstrap.css';

//colors
$primary: #D58E32;
$secondary: #363636;

html {
  scroll-behavior: smooth;
}

.body {
  position: relative;
}

@import "../scss/components/navbar";
@import "../scss/components/header";
@import "../scss/components/top-menu";
@import "../scss/components/top-slider";
@import "../scss/components/our-features";
@import "../scss/components/furniture-gallery";
@import "../scss/components/products";
@import "../scss/components/filters";
@import "../scss/components/blog";
@import "../scss/components/newsletter";
@import "../scss/components/footer";
@import "../scss/components/copyright";


